<form action="/user/<%=current_user.id%>" method= "GET">
    <input type="submit" value="Profile">
  </form>

<h2>All posts:</h2>

<% posts.each do |post| %>
  <% if current_user.may_edit?(post) || post.comments_by_user?(current_user.id) %>
    <p><%= post.title %><p>
    <img  class="photo" src="<%=post.photo_url%>"><br>
    <% if current_user.may_edit?(post) %>
      <form action="/comment/<%=post.id%>" method= "GET">
        <input type="submit" value="Comment">
      </form>
    <% end %>
    <%post.comments.each do |comment|%>
      <p><%=comment.user.username%></p>
      <p><%=comment.content%></p>
      <% if current_user.may_edit?(post) || (comment.user_id == current_user.id) %>
        <form action="/comment/<%=comment.id%>" method= "POST">
          <input type="hidden" name="_method" value="Delete">
          <input type="submit" value="Delete">
        </form>
      <% end %>
    <% end %>
  <% end %>
<% end %>
